 <div class="text-center">
  
    <h1>ここに画像を投稿します</h1>
    
   <div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the VSimage</h1>
    <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
  </div>
</div>