// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like_button{
  width: 100px;
  
}

.seclike_button{
  width: 100px;
  margin-left: 350px;
  margin-top: -35px;
  
}